#edit{
    padding: 20px; 
}

#guessnumber{
    border-radius: 5px;
}

#score{
    font-weight: 600;
}

button{
    border-radius: 5px;
    border: none;
    background-color: white;
    padding: 5px 10px;
}


button:hover{
    background-color: #ccc;
    cursor: pointer;
}